.battleground {
    width: 500px;
    height: 500px;
    background-color: red;
    perspective: none;

}

.cell {
    width: 50px;
    height: 50px;
    background-color: white;
    transform: translate(100px, 100px);
    perspective: none;
    position: absolute;
}

.hit {
    width: 50px;
    height: 50px;
    background-color: white;
    background-size:  contain;
    background-image: url("../img/hit.png");
    transform: translate(100px, 100px);
    perspective: none;
    position: absolute;
}

.hint {
    width: 50px;
    height: 50px;
    background-color: white;
    background-size:  contain;
    background-image: url("../img/ship.png");
    transform: translate(100px, 100px);
    perspective: none;
    position: absolute;
}